# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [80]:
x=23

##### Assinging float

y=3.5

In [81]:
y=34.56

#### Performing Calculations on ints and floats

##### Addition

In [82]:
x=4
y=2.45
z=x+y
print(z)

6.45

##### Subtraction

x=4
y=2.1
z=x-y
print(z)

In [83]:
x=4
y=2.1
z=x-y
print(z)

1.9

In [84]:
print(5-1)

4

In [85]:
x=34
y=32.34
z=x-y
print(z)

1.6599999999999966

##### Multiplication

In [86]:
x=78
y=23
z=x*y
print(z)

1794

##### Division

In [87]:
x=300
y=10.12
z=x/y
print(z)

29.64426877470356

##### Floor Division

In [88]:
print(34//6)

5

##### Modulo

In [89]:
x=60
y=9
z=x%y
print(z)

6

##### Exponential

In [90]:
print(2**5)

32

### String Input-Output

##### String Assignment

In [91]:
x="I love Python"
print(x)

I love Python

In [92]:
x= "I want to be a Data Scientist"
print(x)

I want to be a Data Scientist

##### print() <br>
<p>Don't forget about end=' '</p>

In [93]:
print("Don't forget about end=""")

Don't forget about end=

##### String Concatenation

In [94]:
x= "First Name:"
y= "Ruth"
print(x+y)

First Name:Ruth

##### Type Conversion

In [95]:
x=True
print(type(x))

<class 'bool'>

##### format()

In [96]:
age=36
txt="My name is Ruth, and I am {}."
print(txt.format(age))

My name is Ruth, and I am 36.

##### Old Way (python 2)

In [97]:
print  (type ("Hello world"))

<class 'str'>

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [98]:
color="Black"
year=2015
make="INFINITI"
model="QX60"
print (f"I have a {color} ,{make} {year} {model} model car.")

I have a Black ,INFINITI 2015 QX60 model car.

### If Statements

In [99]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

car_color="Black"
car_year=2015
car_make="INFINITI"
car_model="QX60"

if car_color == "Black" and car_make == "INFINITI":
    print("Yes it is my car")
else:
    print("It is not my car")

Yes it is my car

##### 'is' keyword

In [100]:
x= 123
y=x
print(x is y)

True

##### 'in' keyword

In [101]:
x=[1,2,3,45,34]
for x in x:
    print(x)

1
2
3
45
34

##### 'not in' keyword'

In [102]:
txt="I love my son"
x= "love" not in txt
print(x)

False

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [103]:
my_input=input("find 'P' ")
if "p" in my_input:
    print ("I find the letter p" )
elif "p" not in my_input:
    print("I do not find letter P")# Using 'and'/'or' with If Statements

I do not find letter P

### Elif Statements

### Else Statements

In [104]:
# see above

### For Loops

##### Using 'in' keyword

In [105]:
# see above

##### Continue Statement

In [106]:
# will continue to next iteration

x=["banana","orange","grapes","lemen"]
for i in x:
    if i == "orange":
     continue
    print(i)

banana
grapes
lemen

##### Break Statement

In [107]:
# will break out of current loop
fruits =["banana","orange","grapes","lemen"]
for i in fruits:
    print(i)
    if i=="grapes":
     break
print(fruits)

banana
orange
grapes
['banana', 'orange', 'grapes', 'lemen']

##### Pass Statement

In [108]:
# mostly used as a placeholder, and will continue on same iteration
fruits =["banana","orange","grapes","lemen"]
for i in fruits:
    pass
    print(i)

banana
orange
grapes
lemen

##### Double For Loops

In [109]:
fruits =["banana","orange","grapes","lemen"]
vegies=["salad","tomato","onion"]

for i in fruits:
      for j in vegies:
            print(i,j)

banana salad
banana tomato
banana onion
orange salad
orange tomato
orange onion
grapes salad
grapes tomato
grapes onion
lemen salad
lemen tomato
lemen onion

### While Loops

In [110]:
x= 1
while x<=10:
    print(x)
    if x==7:
     break
    x+=1

1
2
3
4
5
6
7

##### Looping 'While True'

In [111]:
x= 1
while x<=10:
    print(x)
    if x==7:
     break
    x+=1

1
2
3
4
5
6
7

##### While & For Loops Used Together

### Built-In Functions

##### range()

In [112]:
x= range(1,20,2)
for n in x:
    print(n)

1
3
5
7
9
11
13
15
17
19

##### len()

In [113]:
x=[1,2,4,5,6,8]
y=len(x)
print(y)

6

##### help()

In [114]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

##### isinstance()

In [115]:
x=isinstance(True, bool)
print(x)

True

##### abs()

In [116]:
x=abs(-3.45)
print(x)

3.45

### Try and Except

In [117]:
try:
    print(a)
except:
    print("An error occured because 'a' is not defined")

An error occured because 'a' is not defined

### Lists

##### Declaring Lists

In [118]:
x=[1,2,3,4,5,6]
print(x)

[1, 2, 3, 4, 5, 6]

##### Indexing a List

In [119]:
x=[1,2,3,4,5,]
print(x[1])

2

##### .append()

In [120]:
x=[1,2,3,4,5,]
y=x.append(6)
print(x)

[1, 2, 3, 4, 5, 6]

##### .insert()

In [121]:
x=[1,2,3,4,5,]
y= x.insert(5,6)
print(x)

[1, 2, 3, 4, 5, 6]

##### .pop()

In [122]:
fruits =["banana","orange","grapes","lemen"]
print(fruits.pop(3))

lemen


##### .remove()

In [123]:
x=[1,2,3,4,5,]
y= x.remove(5)
print(x)

[1, 2, 3, 4]

##### del()

In [124]:
x=[1,2,3,4,5,]
del x[0]
print(x)

[2, 3, 4, 5]

##### Concatenating Two Lists

In [125]:
x=[1,2,3,4,5,]
y=[6,7,8,9,10]
print ( [x[0], x[1], x[2], x[3], x[4], y[0], y[1], y[2], y[3], y[4]])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### Lists Within Lists

In [126]:
x=[[1,2,3], [4,5,6],[7,8]]
for i in x:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8]

##### Looping Through Lists

In [127]:
x=[[1,2,3], [4,5,6],[7,8]]
for i in x:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8]

In [128]:
# Get

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [129]:
cubes = [ x*x*x for x in range(1, 20) if (x*x*x) %4==0]
for x in cubes:
    if x>1000:
       break
    print(x)

8
64
216
512
1000

In [130]:
#Excerice 2
#Get first prime numbers up to 100

primeNum=[]
for i in range(1, 100):
    for j in range(2, i):
        if i%j==0:
            break
    else:
        primeNum.append(i)
print(primeNum)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [131]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age=int(input("what is your age? "))

if age <18:
    print("kids")
elif age >=18 and age <= 65:
    print("adults")
else:
    print("seniors")